.abc {
    max-height: 30px;
    position: absolute;
    margin-right: -70px;
}
.sidebar-icon {
    position: relative;
    margin-right : 10px;
}

.side-head {
    height: fit-content;
}


.Card1 {
    float: left;
    max-width: 18%;
    max-height: 100%;
    z-index: 9;
}

.cross-icon {
    position: absolute;
    left: 250px;
}

.List {
    position: absolute;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.List-item{
    display: flex;
    flex-direction: column;
}
